annotated-types
anyio
certifi
click
dnspython
email-validator
fastapi
fastapi-cli
h11
httpcore
httptools
httpx
idna
jinja2
markdown-it-py
markupsafe
mdurl
pydantic
pydantic-core
pygments
python-dotenv
python-multipart
pyyaml
rich
rich-toolkit
shellingham
sniffio
starlette
tenacity
typer
typing-extensions
typing-inspection
uvicorn
uvloop
watchfiles
websockets
